.line{
    background-color:rgb(0, 71, 95);
    padding: 25px;
   }
   
   .button {
     background-color: #008CBA; /* Green */
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 30px;
     margin: 4px 20px;
     cursor: pointer;
     border-radius: 10%
   }
   
     
     .button:hover {background-color: rgb(1, 105, 139);}
     
     .wrapper {
       text-align: center;
   }
   
   .wrapper {
       position: center;
       margin-top: 10%;
   }
   