/* Full-width inputs */
input[type=text] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


input[type=date]{
  width: 13%; /* half width */
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.resizedText{
  height: 200px;
  width: 500px;
}

/* Add padding to containers */
.container {
  padding: 16px;
  margin-left: 18%;
}
.selected {
  background-color: #CFD8DC !important;
  color: white;
}


.list {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.list li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.list li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}

.list li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.list .text {
  position: relative;
  top: -3px;
}

.list .badge {

  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;

}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  height:50%;
  overflow-y: hidden;
  width:100%;
  margin-left: 300px;
  margin-top: -90px

}

.btn{display:inline-block;padding:6px 12px;margin-bottom:0;
  font-size:14px;font-weight:400;line-height:1.42857143;
  text-align:center;white-space:nowrap;vertical-align:middle;
  -ms-touch-action:manipulation;touch-action:manipulation;
  cursor:pointer;-webkit-user-select:none;-moz-user-select:none;
  -ms-user-select:none;user-select:none;background-image:none;
  border:1px solid transparent;border-radius:4px }

  .btn-success.focus,.btn-success:focus{color:#fff;
    background-color:#449d44;
    border-color:#255625}
  .btn-success:hover{color:#fff;
    background-color:#449d44;
    border-color:#398439}


/* Set a style for all buttons */
button {
  background-color: #008CBA;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 80%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Add padding to containers */
.container {
  padding: 16px;
  margin-left: 18%;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}


.alert-danger{
  color:#a94442;
  background-color:#f2dede;
  border-color:#ebccd1;
  color:#843534;
  width:50%

}

.alert{
 padding:15px;
 margin-bottom:20px;
 border:1px solid transparent;
 border-radius:4px;
 width:50%

}
.alert-danger hr{border-top-color:#e4b9c0;width:50%}
