<app-nav-bar></app-nav-bar>
<div class="teacher-side-bar">
  <ul>
  <li routerLinkActive='active' routerLink="/leaveApplication" [routerLinkActiveOptions]="{exact:true}">Apply for a leave</li>
  <li routerLinkActive='active' routerLink="/leaveApplication" [routerLinkActiveOptions]="{exact:true}">Check salary</li>
  <li routerLinkActive='active' routerLink="/leaveApplication" [routerLinkActiveOptions]="{exact:true}">Student details</li>
  <li routerLinkActive='active' routerLink="/leaveApplication" [routerLinkActiveOptions]="{exact:true}">Mark the attendance</li>
  <li routerLinkActive='active' routerLink="/advPayment" [routerLinkActiveOptions]="{exact:true}">Advance payment</li>
  <li routerLinkActive='active' routerLink="/reqMantenance" [routerLinkActiveOptions]="{exact:true}">Maintenance</li>
  <li routerLinkActive='active' routerLink="/leaveApplication" [routerLinkActiveOptions]="{exact:true}">Inform Homework</li>
  </ul>
</div>

<!-- Page content -->
<div class="main">
  ...
</div>
