.card {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left: 480px;
  text-align: center;
  font-family: arial;
  border: 2px solid rgb(2, 14, 116); /* Green */
  height: 60%;
  width: 40%;
  

}

.title {
  color: grey;
  font-size: 18px;

}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
