<br><br><br><br>
<div class="login">

<div class="container">
  <label><b>Username</b></label>
  <input [(ngModel)]="log_teacher.id" type="text" placeholder="Enter User Id" required>

  <label><b>Password</b></label>
  <input [(ngModel)]="log_teacher.key" type="password" placeholder="Enter Password"  required>

  <button type="submit">Login</button>
  <label>
    <input type="checkbox" checked="checked" name="remember"> Remember me
  </label>
</div>

<div class="container" style="background-color:#f1f1f1">
  <button type="button" class="cancelbtn">Cancel</button>
  <span class="psw">Forgot <a href="#">password?</a></span>
</div>
</div>

