.login {
  margin: 6% 36.6% 0 33% ; /*top right bottom left*/
  width: 500px;
  border: 3px solid #008CBA;
  border-radius: 4%;
  padding: 20px;
  font-size:20px;
}


/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size:16px;
}

/* Set a style for all buttons */
button {
  background-color: #008CBA;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size:16px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}