<app-nav-bar></app-nav-bar>
<form (submit)="onLoginSubmit()">
<div class="login">
    <div class="container">
      <label><b>Username</b></label>
      <input [(ngModel)]="username" name="username" type="text" placeholder="Username" required>

      <label><b>Password</b></label>
      <input [(ngModel)]="password" name="password" type="password" placeholder="Password"  required>

      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
</div>
</form>
<flash-messages></flash-messages>

