<app-nav-bar></app-nav-bar>
<div class="teacher-side-bar">
  <ul>
  <!--<li routerLinkActive='active' routerLink="/applyTransport" [routerLinkActiveOptions]="{exact:true}">Apply Transport</li> -->
  <li routerLinkActive='active' routerLink="/applyTransport" [routerLinkActiveOptions]="{exact:true}">Apply Transport</li>
  <li routerLinkActive='active' routerLink="/checkHomework" [routerLinkActiveOptions]="{exact:true}">Check Homework</li>
  <li routerLinkActive='active' routerLink="/viweTeacher" [routerLinkActiveOptions]="{exact:true}">Teacher Details</li>
  </ul>
</div>

<!-- Page content -->
<div class="main">
  ...
</div>
