.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #008CBA;;
    border: none;
    border-radius: 10px;
  }
  
  .button:hover {background-color: #008CBA;}
  
  .button:active {
    background-color: #008CBA;;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  
  .wrapper {
    text-align: center;
}

.button {
    position: center;
    margin-top: 10%;
}
