<div class="line"></div>
<div class="wrapper">
    <div class="center" align="center">
        <a routerLinkActive='active' 
            routerLink="/accountLogIn" 
            [routerLinkActiveOptions]="{exact:true}">
            <button class="button">SignIn</button>
        </a>
   
            <a routerLinkActive='active' 
            routerLink="/accountRegister" 
            [routerLinkActiveOptions]="{exact:true}">
            <button class="button">Register</button>
            </a>
    </div>

    
</div>