<app-teacher-side-bar></app-teacher-side-bar>
<h1 style="margin-left: 500px">Payment Details</h1>
<form (submit)="onFormSubmit()">

  <div class="container"> 
    <label><b>Username : </b></label>{{username}}

    <br><br>
    <label><b>Amount(in LKR)</b></label>
    <input [(ngModel)]="amount" name='amount' #name1="ngModel" width="10%" type="text" required >
    <br>

    <label ><b>Reason</b></label>
    <input class="resizedText" [(ngModel)]="reason" name='reason' #name2="ngModel" type="text" placeholder="Type here" required>

    <button type="submit">submit</button>
  </div>
</form>
<flash-messages></flash-messages>
