<app-teacher-side-bar></app-teacher-side-bar>

<form (submit)="onFormSubmit()">

  <div class="container"> 
    <label><b>Username : </b></label>{{username}}

    <br><br>
    <label><b>Amount(in LKR)</b></label>
    <input [(ngModel)]="amount" name='amount' #name1="ngModel" width="10%" type="text" required >
    <div [hidden]="name1.valid || name1.pristine"
          class="alert alert-danger">
             Amount is required
         </div>
    
    <br>

    <label ><b>Reason</b></label>
    <input class="resizedText" [(ngModel)]="reason" name='reason' #name2="ngModel" type="text" placeholder="Type here" required>
    <div [hidden]="name2.valid || name2.pristine"
          class="alert alert-danger">
             Reason is required
         </div>
    
    <button type="submit">submit</button>
  </div>
</form>
