<app-nav-bar></app-nav-bar>
<br><br><br><br>
<form (submit)="onRegisterSubmit()">

  <div class="container">
    <label><b>Name</b></label>
    <input [(ngModel)]="name" name='name' type="text" placeholder="Name" required>
  
    <label><b>Username</b></label>
    <input [(ngModel)]="username" name='username'type="text" placeholder="Username" required>

    <label><b>Email Adress</b></label>
    <input [(ngModel)]="email" name='email' type="text" placeholder="Email" required>

    <label><b>Password</b></label>
    <input [(ngModel)]="password" name='password' type="password" placeholder="Password"  required>

    <button type="submit">submit</button>
  </div>
</form>

